<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bancoprueba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BancoPrueba">
        <activity
            android:name="com.example.view.PersonalData"
            android:exported="true" />
        <activity
            android:name="com.example.view.AccountActivity"
            android:exported="true" />
        <activity
            android:name="com.example.view.MenuActivity"
            android:exported="true" />
        <activity
            android:name="com.example.view.HistorialActivity"
            android:exported="true" />
        <activity
            android:name="com.example.view.HistorialTransaccionesActivity"
            android:exported="true" />
        <activity android:name="com.example.view.VoucherActivity" />
        <activity android:name="com.example.view.DepositoActivity" />
        <activity android:name="com.example.view.ConsultarSaldoActivity" />
        <activity android:name="com.example.view.RetiroActivity" />
        <activity android:name="com.example.view.RegisterNewBankActivity" />
        <activity android:name="com.example.view.MainActivity" />
        <activity android:name="com.example.view.RegistroActivity" />
        <activity
            android:name="com.example.view.LoginActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>